/*For NG login*/
.container .cyberark-login {
  width: 30vw;
  height: 90vh;
}

.container {
  width: 100%;
  height: 90vh;
}

/*For standard login view*/
.standalone-login .login-form {
  background-color: brown;
}
